<!-- Footer -->
<footer>
  <div class="container">
    <div class="row footer-center">
      <div class="col">
        <ul class="list-inline">
          <li><a href="/">Home</a></li>
          <li class="footer-menu-divider">&sdot;</li>
          <li><a href="/about">会社概要</a></li>
          <li class="footer-menu-divider">&sdot;</li>
          <li><a href="/business">事業内容</a></li>
          <li class="footer-menu-divider">&sdot;</li>
          <li><a href="/contact">お問い合わせ</a></li>
          <li class="footer-menu-divider">&sdot;</li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-center">
      <p class="copyright text-muted small">Copyright &copy; no-sinker All Rights Reserved</p>
    </div>
  </div>
</footer>
