<!-- Footer -->
<footer>
  <div class="container">
    <div class="row footer-center">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item footer-menu-divider">&sdot;</li>
        <li class="list-inline-item"><a href="/about">会社概要</a></li>
        <li class="list-inline-item footer-menu-divider">&sdot;</li>
        <li class="list-inline-item"><a href="/business">事業内容</a></li>
        <li class="list-inline-item footer-menu-divider">&sdot;</li>
        <li class="list-inline-item"><a href="/contact">お問い合わせ</a></li>
        <li class="list-inline-item footer-menu-divider">&sdot;</li>
        <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="row footer-center">
      <p class="copyright text-muted small">Copyright &copy; no-sinker All Rights Reserved</p>
    </div>
  </div>
</footer>
