<!-- Navigation -->
<nav class="nav navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container" id="nav-container">
    <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
    <div class="collapse navbar-collapse justify-content-end">
      <a class="nav-link" href="/about">会社概要</a>
      <a class="nav-link" href="/business">事業内容</a>
      <a class="nav-link" href="/contact">お問い合わせ</a>
      <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</nav>

<section id="intro">
  <!-- Header -->
  <div class="intro-header">

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>{{ .Site.Title }}</h1>
            <h3>{{ .Site.Params.description }}</h3>
            <hr class="intro-divider">
            {{ if isset .Site.Params "social" }}
            <ul class="list-inline intro-social-buttons">
              {{ partial "social.html" . }}
            </ul>
            {{ end }}
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.intro-header -->
</section>
