<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <section id="home">
    <div class="content-section-b">
      <div class="container">
	<div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <div id="main-content">
              {{ .Content }}
            </div>
	  </div>
	</div>
      </div>
    </div>
  </section>

  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
