<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <!-- Business Section -->
  <section id="business" class="container content-section">
    <div class="content-section-b">
      <div class="container">
	<div class="row">
          <div class="col-lg-10">
            <h2 class="section-heading">{{ .Title }}</h2>
            <div id="section-content">
              {{ .Content }}
            </div>
	  </div>
	</div>
      </div>
    </div>
  </section>

  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
