<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <!-- Privacy Policy Section -->
  <section id="privacy" class="container content-section">
    <div class="privacy-header">
    </div>
    <div id="privacy-container" class="container">
      <div class="row">
        <div class="col-lg-10">
          <div id="privacy-content">
            <h2 class="section-heading">{{ .Title }}</h2>
	    <div class="privacy-policy-head">
	      <p>制定 2017年12月1日</p>
	      <p>株式会社ノーシンカー 代表取締役</p>
	      <p>猪子　香</p>
	    </div>
            <div id="privacy-policy-body">
              {{ .Content }}
            </div>
	    <div class="privacy-policy-footer">
	      <p>以上</p>
	    </div>
	  </div>
	</div>
      </div>
  </section>

  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
